<div class="people">
  <header class="pageheader">
    <h1>PEOPLE</h1>
  </header>
  <div class="researchers">
    <div class="researcher">
      <a href="/veerle-buffel.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Veerle Buffel<br>Doctoral researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/elise-rondelez.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Elise Rondelez<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/katrijn-delaruelle.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Katrijn Delaruelle<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/karen-vanderlinden.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Karen Vanderlinden<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/ricardo-ayala.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Ricardo Ayala<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/rozemarijn-dereuddre.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Rozemarijn Dereuddre<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/ad-coenen.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Ad Coenen<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/nathan-wittock.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Nathan Wittock<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/emilien-dupont.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Emilien Dupont<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/lore-van-gorp.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Lore van Gorp<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/pieter-paul-verhaeghe.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Pieter-Paul Verhaeghe<br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/sinem-yilmaz.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p>Sinem Yılmaz<br>PhD researcher</p>
    </div><!-- .researcher -->
  </div><!-- .researchers -->
</div><!-- .people -->
