<div class="people">
  <header class="pageheader">
    <h1>PEOPLE</h1>
  </header>
  <div class="researchers">
    <div class="researcher">
      <a href="/veerle-buffel.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/veerle-buffel.html">Veerle Buffel</a><br>Doctoral researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/elise-rondelez.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/elise-rondelez.html">Elise Rondelez</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/katrijn-delaruelle.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/katrijn-delaruelle.html">Katrijn Delaruelle</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/karen-vanderlinden.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/karen-vanderlinden.html">Karen Vanderlinden</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/ricardo-ayala.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/ricardo-ayaly.html">Ricardo Ayala</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/rozemarijn-dereuddre.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/rozemarijn-dereuddre.html">Rozemarijn Dereuddre</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/ad-coenen.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/ad-coenen.html">Ad Coenen</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/nathan-wittock.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/nathan-wittock.html">Nathan Wittock</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/emilien-dupont.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/emilien-dupont.html">Emilien Dupont</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/lore-van-gorp.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/lore-van-gorp.html">Lore van Gorp</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/pieter-paul-verhaeghe.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/pieter-paul-verhaeghe.html">Pieter-Paul Verhaeghe</a><br>PhD researcher</p>
    </div><!-- .researcher -->
    <div class="researcher">
      <a href="/sinem-yilmaz.html">
      <%= image_tag "sarah-van-leuven.jpg" %>
      </a>
      <p><a href="/sinem-yilmaz.html">Sinem Yılmaz</a><br>PhD researcher</p>
    </div><!-- .researcher -->
  </div><!-- .researchers -->
</div><!-- .people -->
